body{
	
	/*	background-color: #E0E3DA;*/
	background-image: url("team.jpg");
	/*background-repeat:no-repeat;
	background-position:center center;*/
}


.container {
	margin-right: 5em;
	margin-left: 5em;
}
.title {
	width: 8.5em;

	
}
label{
	color: ;
}
