.container {
	margin-right: 5em;
	margin-left: 5em;
}

.title {
	width: 6.5em;
}

body{
    background-image: url("team1.jpg");
}

label, .statusDisplay {
	color: white;
}

.image {
	float: right;
	padding-left: 15em;
	padding-right: 1em;
	padding-top: 0.5em;
}

#saveDiv {
	padding-bottom: 10%;
}